/* stylelint-disable stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

#jumbotron-bg {
  background-image: url('assets/img/jumbotron-bg.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
}
:root {
  --c-dark: #343A40;
  --c-accent: #FFD966;
  --c-light: #f5f5f5;
  --c-primary: #004E89;
  --c-secondary: #e1e1e1;
  --c-link: #BEE7E8;
}
body {
  background-color: var(--c-primary);
  color: var(--c-light);
}

.hashtag {
  color: var(--c-accent);
}
a {
  color: var(--c-link);
}

section > h2,
article > h2 {
  color: var(--c-accent) !important;
}

#bg-break-1 {
  background-image: url('assets/img/moon-bg.jpg');
  background-position: center center;
}
.bg-break {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax {
  background-attachment: fixed;
  font-size: 155px;
  
}
span.text-body-secondary, h1 {
  color: var(--c-secondary) !important;
}
