body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(0, 129, 172);
    color: whitesmoke;
    padding: 10px 0;
    /* border: 10px dashed red; */
}

header li {
    display: inline-block;
    margin: -1;
}
header li::after {
    content: '|';
    font-weight: bold;
}
header li:last-child::after {
    content: '';
}
header li > a {
    color: unset;
}
main {
    margin: 15px;
    padding: 15px;
    background-color: aliceblue;
}

main ul {
    width: 7rem;
}

main ol {
    width: 10rem;
}

main ul,
main ol,
form {
    margin: 0 auto;
}

form > button {
    display: block;
    width: 100%;
    padding-block: .5rem;
}

footer {
    background-color: rgb(205, 236, 255);
    padding: 10px 0;
}

label {
    display: block;
}
form {
    background-color: #fff;
    width: 25rem;
    text-align: left;
    padding: 3rem;
}

.outline {
    border: 1px solid #000;
}

.logo {
    width: 30px;
    height: 30px;
}